body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.70em;
	background-color: #999999;
	color: #006699;
		}
.formstyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.78em;
	font-weight: normal;
	color:  #006699;
	background-color: #CCCCCC;
}
.hrstyle1 {
	border: 1px dashed #666666;
}
.fontstyle1{
	color: #FF3333;
}
.fontstyle2{
	font-size: 0.78em;
	color: #FF3333;
}
.fontstyle3{
	font-size: 0.78em;
}
.fontstyle4{
font-size: 0.76em;
	color: #CCFFFF;
text-decoration:none;
}
.fontstyle4x{
text-decoration:none;
}
.dashline {
	border: 1px dashed #999999;
}
.dashline4table {
	border: 1px;
	border-top: 1px dashed #999999;
	border-bottom: 1px dashed #999999;
}
.dashlineandmore {
	border: 1px dashed #999999;
	background-color: #646489;
}
a:link {
	color: #333366;
}
a:visited {
	color: #606060;
}
.boldlink{
	color: #FF3333;
	text-decoration:none;
}

